# Auto detect text files and perform LF normalization
* text=auto

# Python
*.py text eol=lf
*.pyi text eol=lf
*.toml text eol=lf

# Documentation
*.md text eol=lf
*.rst text eol=lf

# Binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
